{{#extends 'base'}}

{{#block 'content'}}
<h1>I dunno.</h1>
<p>Create a product</p>
<form method="POST">
    {{{form}}}
    <input type="submit" value="Add Product" class="btn btn-primary"/>
{{/block}}

{{/extends}}